In [1]:
import numpy as np
import pandas as pd

In [2]:
lista_1 = [1,2,3,4,6]
lista_2 = ["I","II","III","IV","V"]

dic_1 = {"I":1,"II":2,"III":3,"IV":4,"V":5}

ndarray_1 = np.array(lista_1)

## Criando séries

In [3]:
s1 = pd.Series(lista_1, lista_2) #O primeiro parâmetro é a lista/array e o segundo é o índice
s1

I      1
II     2
III    3
IV     4
V      6
dtype: int64

In [4]:
s2 = pd.Series(lista_2, lista_1) #Podemos ter índices númericos ou de strings ou mistos
s2

1      I
2     II
3    III
4     IV
6      V
dtype: object

In [5]:
s3 = pd.Series(dic_1) #Podemos criar de dicionários também
s3

I      1
II     2
III    3
IV     4
V      5
dtype: int64

In [6]:
s4 = pd.Series(ndarray_1, name = "Série") #Colocar nomes é útil quando se está trabalhando com várias séries (DataFrame)
s4

0    1
1    2
2    3
3    4
4    6
Name: Série, dtype: int64

In [7]:
s4 = pd.Series(ndarray_1, lista_2)
s4

I      1
II     2
III    3
IV     4
V      6
dtype: int64

In [8]:
s5 = pd.Series(ndarray_1, lista_1)
s5

1    1
2    2
3    3
4    4
6    6
dtype: int64

In [9]:
s1.to_numpy()

array([1, 2, 3, 4, 6])

In [10]:
s1.to_list()

[1, 2, 3, 4, 6]

## Indexando series

In [11]:
s1[2]

/tmp/ipykernel_9873/625738788.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[2]

np.int64(3)

In [12]:
s1.iloc[2] #sempre melhor usar iloc para indexar por posição/índice númerico personalizado

np.int64(3)

In [13]:
s1[:3] #Se o índice da série é por string, então ainda podemos usar um índice convencional (0-indexaddo)

I      1
II     2
III    3
dtype: int64

In [14]:
s1.head(2)

I     1
II    2
dtype: int64

In [15]:
s1.tail(2)

IV    4
V     6
dtype: int64

In [16]:
s1.iloc[-3:]

III    3
IV     4
V      6
dtype: int64

In [17]:
s1 = pd.Series(dic_1)
s1["I"] #acessando pelo índice

np.int64(1)

In [18]:
s1.loc["I"] #é melhor usar o `.loc` quando for indexar

np.int64(1)

In [19]:
s1.idxmax() #índice máximo

'V'

In [20]:
s1.idxmin() #índice mínimo

'I'

In [21]:
s1.loc["I":"IV"] #Podemos fazer slice por índice

I      1
II     2
III    3
IV     4
dtype: int64

In [22]:
s2.loc[1:5] #Usando loc ele conta o slice pelos índices e não pela posição

1      I
2     II
3    III
4     IV
dtype: object

In [23]:
dic_2 = {"I":10,"II":42,"III":7,"V":1_000_000}
dic_3 = {"I":1,"II":12,"III":13,"IV":-1}

s6 = pd.Series(dic_2)
s7 = pd.Series(dic_3)

s6

I           10
II          42
III          7
V      1000000
dtype: int64

In [24]:
s7

I       1
II     12
III    13
IV     -1
dtype: int64

## Operações com mais de uma série

In [25]:
resultado = s6.add(s7) #Soma de acordo com os índices, dá NaN se não tem o índice nas duas séries
resultado
#Equivalente a fazer s6 + s7, mas sem poder passar parâmetros

I      11.0
II     54.0
III    20.0
IV      NaN
V       NaN
dtype: float64

In [26]:
resultado = s6.sub(s7)
resultado

I       9.0
II     30.0
III    -6.0
IV      NaN
V       NaN
dtype: float64

In [27]:
resultado.count() #Usado para contar quantos elementos não nulos tem

np.int64(3)

In [28]:
resultado.size #Usado para saber o tamanho total da sére

5

In [29]:
dic_4 = {"V":42}
s8 = pd.Series(dic_4)

pd.concat([s7,s8]) #Usado para "empilhar" séries

I       1
II     12
III    13
IV     -1
V      42
dtype: int64

In [30]:
s9 = pd.concat([s6,s7])
s9

I           10
II          42
III          7
V      1000000
I            1
II          12
III         13
IV          -1
dtype: int64

In [31]:
s9.loc["I"] #Se tem mais de um elemento com o mesmo índice, ele retorna todos

I    10
I     1
dtype: int64

In [32]:
s9.count()

np.int64(8)

In [33]:
s9.size

8

## Tratando NAs

In [34]:
resultado = s6.add(s7, fill_value = 9) #Em operações, podemos usar o parâmetro `fill_value` para definir um valor padrão para as contas
resultado

I           11.0
II          54.0
III         20.0
IV           8.0
V      1000009.0
dtype: float64

In [35]:
resultado.count()

np.int64(5)

In [36]:
resultado.size

5

In [37]:
resultado = s6.sub(s7) 
resultado.dropna(inplace = True) #O drop Na vai excluir os Nas da array, deixando ela menor
resultado

I       9.0
II     30.0
III    -6.0
dtype: float64

In [38]:
resultado.size

3

In [39]:
resultado = s6.sub(s7) 
resultado.fillna(7, inplace = True) #Já o fill Na vai trocar os Nas por algum valor especificado
resultado

I       9.0
II     30.0
III    -6.0
IV      7.0
V       7.0
dtype: float64

In [40]:
resultado.size

5

## Ordenando séries

In [41]:
s9

I           10
II          42
III          7
V      1000000
I            1
II          12
III         13
IV          -1
dtype: int64

In [42]:
s9.sort_values() #Ordena usando valores

IV          -1
I            1
III          7
I           10
II          12
III         13
II          42
V      1000000
dtype: int64

In [43]:
s9.sort_index() #Ordena usando índices

I           10
I            1
II          42
II          12
III          7
III         13
IV          -1
V      1000000
dtype: int64

In [44]:
try:
    pd.Series({1: 2, "2": 3}).sort_index() #Não é possível ordenar por índices mistos
except Exception as e:
    print(e)

'<' not supported between instances of 'str' and 'int'

## Universal Functions (ufuncs)

In [45]:
s9

I           10
II          42
III          7
V      1000000
I            1
II          12
III         13
IV          -1
dtype: int64

In [46]:
np.amin(s9) #Funções numpy pensadas para arrays podem ser usadas em séries

np.int64(-1)

In [47]:
np.ptp(s9)

np.int64(1000001)

In [48]:
np.percentile(s9, 25)

np.float64(5.5)

In [49]:
np.mean(s9)

np.float64(125010.5)

In [50]:
np.median(s9)

np.float64(11.0)

In [51]:
np.std(s9)

np.float64(330714.9454866683)

In [52]:
np.var(s9)

np.float64(109372375168.25)

In [53]:
np.average(s9)

np.float64(125010.5)

In [54]:
np.info(np.amin)

Return the minimum of an array or minimum along an axis.

`amin` is an alias of `~numpy.min`.

See Also
--------
min : alias of this function
ndarray.min : equivalent method

In [55]:
s9.describe() #As séries oferecem o método describe, já que é comum analisar datasets usando `pandas`

count          8.000000
mean      125010.500000
std       353549.148199
min           -1.000000
25%            5.500000
50%           11.000000
75%           20.250000
max      1000000.000000
dtype: float64